* {
  margin: 0;
  padding: 0;
  font-family: 'Google Sans Code', sans-serif;
}

header {
  background-color: #ff0000;
  color: rgb(0, 0, 0);
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  text-align: center;
  font-size: 50px;
}

h1 {  
  margin-bottom: 20px;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}


.sobre-nos {
  width: 95%;
  text-align: center;
  padding: 20px;
}

.paragrafo-texto {
  font-size: 20px;
  text-align: justify;
}

.itens-cardapio {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.item-cardapio {
  border: 2px solid #ff0000;
  border-radius: 5px;
  margin: 20px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.descricao {
  margin-bottom: 10px;
  font-size: 16px;
  color: #f90000;
}

.img-item {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

h3 {
  margin-bottom: 10px;
  color: #000000;
  font-size: 18px;
}

footer {
  background-color: #ff0303;
  color: rgb(0, 0, 0);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}