* {
  margin: 0;
  padding: 0;
   font-family: 'Google Sans Code', sans-serif;
}

header {
  background-color: #f81100;
  color: rgb(0, 0, 0);
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  text-align: center;
  font-size: 30px;
}

h1 {  
  margin-bottom: 10px;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

/*Exemplo com classe no css*/
.sobre-nos {
  width: 95%;
  text-align: center;
  padding: 15px;
}

.paragrafo-texto {
  font-size: 15px;
  text-align: justify;
}

.itens-cardapio {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.item-cardapio {
  border: 2px solid #010000;
  border-radius: 5px;
  margin: 15px;
  padding: 5px;
  box-shadow: 0 0 5px rgb(0, 0, 0,0.5);
}

.descricao {
  margin-bottom: 5px;
  font-size: 10px;
  color: #050000;
}

.img-item {
  width: 150px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

h3 {
  margin-bottom: 5px;
  color: #f80000;
  font-size: 10px;
}

footer{
  background-color: #f80000;
  color: aliceblue;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}