body {
    background-color: rgb(255, 0, 0);
    color: rgb(255, 127, 127);
}

header {
    background-color: rgba(0, 0, 0, 0.996);
    color: aliceblue;
}

header h1 {
    text-align: center;
    font-size: 50px;

}
