body {
    background-color: rgb(255, 0, 0);
    color: rgb(255, 127, 127);
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(0, 0, 0, 0.996);
    color: aliceblue;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

header h1 {
    text-align: center;
    font-size: 50px;
    margin: 0;
}

nav {
    list-style: none;
    text-align: center;
    margin-top: 10px;
}

main {
    margin-top: 120px;
}
